.contenedor-form-edit{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: 5px solid #03989E;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
    margin-left: 800px;
}
.form-find-dni{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-edit-pack{

    margin-top: 20px;
    padding: 10px;
    border: 3px solid #eceef1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#packFloatingDescripcion{
    width: 450px;
    height: 150px !important;
}