.contenedor-form-home{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    border: 5px solid #03989E;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 100px;
    padding-right: 100px;

}
.form-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#choose-rol{
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 50px;
    border-color: #2DC4B5;
    width: 165px;
    height: 65px;
    background-color: #2DC4B5;
    color:black;
    font-weight: 600;
    font-size: 18px;
    padding: 2px 16px 2px 16px;
}